@charset "UTF_8";

body {
    /* background-color: green; */
}

h1 {
    font-size: 3vw;
    margin: 2.5vw 6vw;
}
p {
    font-size: 2.5vw;
    text-align: justify;
    
    margin: 1.5em auto;
    width: 95%;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 2vw;
        margin: 2.5vw 6vw;
    }
    p {
        font-size: 1.5vw;
    }
}